# .github/workflows/yamllint.yml
---
name: Lint YAML

"on":
  push:
    branches: [main]
    paths:
      - '**/*.yml'
      - '**/*.yaml'
  pull_request:

jobs:
  yaml-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ibiqlik/action-yamllint@v3
